header {position: absolute;left: 0;right: 0;}
header ul{list-style: none;}
.banner{background: url("images/landingpage-gif.gif");background-repeat: no-repeat;background-size: cover;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}
p{font-family: "Nunito", sans-serif;}
.banner {padding: 100px 0px;}
.banner .banner_data h4{font-size: 15px;font-weight: 400;color: #fff;padding-bottom: 10px;position: relative;}
.banner .banner_data h4::after{content: "";position: absolute;bottom: 0;left: 0;right:0;top: auto;bottom:0;width: 200px;height: 1px;background: #fff;}
.banner .banner_data h1{font-size: 48px;font-weight: 900;color: #fff;line-height: 60px;}
.banner .banner_data p{color: #fff;font-size: 15px;font-weight: 300;}
.banner .banner_data ul{color: #fff;list-style: none;display: flex;font-family: "Nunito", sans-serif;padding-left: 0px;margin-bottom: 0;margin-top: 30px;gap: 18px;}
.banner .banner_data ul span::after{content: unset;}
.banner .banner_data ul span{font-size: 16px;font-weight: 700;}
.banner .banner_data ul li{display: flex;align-items: center;}
.banner .banner_data ul li img{margin-left: 5px;}
.banner .banner_data span{position: relative;z-index: 1;}
.banner .banner_data span::after, .creative_agency h1 span::after{content: "";position: absolute;top: auto;bottom: -5px;left: 0;right: 0;background: url("images/text-vector.png");background-position: center;background-repeat: no-repeat;background-size: contain;z-index: -1;height: 15px;width: 100%;}
.form_div{background: #fff;padding: 50px;border-radius: 20px;box-shadow: 0px 0px 10px rgba(0,0,0,0.1);}
.form_div h2{font-size: 27px;font-weight: 600;color: #203857;margin-bottom: 2px;}
.form_div p{color: #3c5d84;margin-bottom: 12px;}
.form_div input, .form_div select, .form_div textarea{width: 100%;padding: 10px;border: 1px solid #ccc;border-radius: 5px;font-family: "Nunito", sans-serif;color: #203857;}
.form_div input[type="submit"]{background: linear-gradient(45deg, #03355e, #189bb8);color: #fff;font-weight: 600;border: none;cursor: pointer;}
.global_brands .star{list-style: none;display: flex;justify-content: center;margin-bottom: 20px;}
.global_brands h3{font-size: 19px;font-weight: 500;color: #060606;margin-bottom: 10px;text-transform: uppercase;}
section{padding: 60px 0px;}
.global_brands .brand_logos{list-style: none;display: flex;justify-content: center;flex-wrap: wrap;gap: 25px;padding-left: 0px; margin-top: 50px;}
.global_brands .brand_logos li{flex: 1;}
.creative_agency h1{font-size: 46px;font-weight: 500;line-height: 58px;color: #000;max-width: 520px;}
.creative_agency h1 span{position: relative;}
.creative_agency h1 span::after{width: 85%;background-position: right;left: 24px;bottom: -10px;}
.creative_agency .circle{height: 230px;width: 230px;border-radius: 50%;background:url("images/circle.png");background-repeat: no-repeat;background-size: cover;background-position: center;position: relative;}
.creative_agency h2{position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;font-size: 84px;font-weight: 800;color: #fff; display: flex;align-items: center;justify-content: center;}
.creative_agency h2 sup{font-weight: 400;font-size: 35px;}
.creative_agency h3{font-size: 16px;font-weight: 500;line-height: 30px;padding: 0 20px;}
.creative_agency h3 span{font-weight: 700;text-transform: uppercase;display: block;}
.creative_agency .work{display: flex;padding-left: 0px;list-style: none;gap: 35px;padding-top: 50px;}
.creative_agency .work li{border-top: 1px solid #D5D5D5;display: flex;align-items: center;justify-content: space-between;padding: 20px 0 0;gap: 50px;}
.creative_agency .work li img{filter: invert(1);}
.creative_agency .work li:last-child img{filter: invert(0);}
.creative_agency .work li h4{font-size: 16px;font-weight: 400;color: #000;font-family: "Nunito", sans-serif;line-height: 28px;}
.creative_agency .work li h4 span{font-weight: 700;}


/* ------------------------------------------ */
.s-global {
  z-index: 2;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  min-height: auto;
  display: flex;
  position: relative;
}
.s-global.z-5 {
  z-index: 5;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}
.s-global.h-100vh {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  display: flex;
}
.s-global.h-100vh.over-flow-hide {
  overflow: hidden;
}
.s-global.txt-white {
  z-index: 3;
  color: var(--white);
}
.padding-global {
  z-index: 4;
  width: 100%;
  padding-top: 7em;
  padding-bottom: 7em;
  position: relative;
}
.container.big {
  z-index: 5;
  justify-content: center;
  align-items: flex-start;
  max-width: 114em;
  position: relative;
}
.container.big.center {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
}
.heading-wrap._w-60.align-center {
  margin-left: auto;
  margin-right: auto;
}
.heading-wrap._w-60.align-center {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* .heading {
  letter-spacing: -0.04em;
  text-transform: uppercase;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 6em;margin-top: 20px;
  font-weight: 700;
  line-height: 100%;
  display: block;
} */
.h-scroll::-webkit-scrollbar{
  height: 10px; 
}

.h-scroll::-webkit-scrollbar-track{
  background: #e9d5ff;
  border-radius: 999px;
}

.h-scroll::-webkit-scrollbar-thumb{
  background: #7c3aed;
  border-radius: 999px;
  border: 2px solid #e9d5ff; 
}
.grid {
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
.grid.h-scroll {
  z-index: 4;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  margin-top: 4em;
  position: relative;
}
.grid._2-col {
  z-index: 2;
  grid-column-gap: 8em;
  grid-row-gap: 8em;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 4em;
  position: relative;
}
.lottie-wrap {
  pointer-events: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}
.lottie-animation {
  align-self: center;
  width: 100%;
  height: 120%;
}
#w-node-_06286fd8-c317-336f-4589-cddd95acbedb-8d3d9573 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}
#w-node-dd825621-4010-db09-3035-91681fb53bca-8d3d9573,
#w-node-dbae20e7-644b-4ed5-5082-c0db62a85443-8d3d9573 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
#w-node-ecc45c69-34ac-d95d-4dbc-8002b29a3882-8d3d9573 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}
#w-node-dd418196-e440-64fe-2583-d90974845657-8d3d9573 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
#w-node-dd418196-e440-64fe-2583-d90974845678-8d3d9573 {
  grid-area: span 2 / span 1 / span 2 / span 1;
}
#w-node-bf2419e1-bf0c-cfd3-85f0-a74991b17b91-8d3d9573 {
  justify-self: end;
}
#w-node-_011775d7-7535-d0a3-e71a-246c00ff2348-8d3d9573 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}
#w-node-ce8493b8-6b96-d316-6e5f-93d623b2adfd-23b2add9 {
  justify-self: end;
}
@media screen and (max-width: 991px) {
  #w-node-_06286fd8-c317-336f-4589-cddd95acbedb-8d3d9573 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  #w-node-ecc45c69-34ac-d95d-4dbc-8002b29a3882-8d3d9573 {
    grid-column: span 1 / span 1;
  }
  #w-node-dd418196-e440-64fe-2583-d90974845678-8d3d9573 {
    order: 9999;
    grid-area: span 1 / span 3 / span 1 / span 3;
  }
  #w-node-_5b29ef2a-aa34-4e36-8cf3-047a27396478-8d3d9573 {
    order: 9999;
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
  #w-node-b93b0c3b-53e7-5997-84c0-34f81b3dd975-1b3dd96a {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}
@media screen and (max-width: 479px) {
  #w-node-dd418196-e440-64fe-2583-d90974845651-8d3d9573,
  #w-node-b93b0c3b-53e7-5997-84c0-34f81b3dd98c-1b3dd96a {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}
.hero-subheading-wrap {
  width: 40em;
  margin-bottom: auto;
  display: flex;
}
.txt-32 {
  z-index: 2;
  letter-spacing: -0.02em;
  font-family: Geist, sans-serif;
  font-size: 2em;
  line-height: 120%;
  position: relative;
}
.card.pad-1-5.side {
  opacity: 0.6;
  filter: blur(0.05em);
}
.card.pad-1-5 {
  aspect-ratio: 1;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 1.5em;
  position: relative;
}
.card {
  color: var(--dark);
  background-color: #fff;
  border-radius: 1em;
  flex: none;
  padding: 2.5em;
  display: flex;
  overflow: hidden;
}



.always_do{background: #35356f;color: #fff;}
.heading{
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  font-family: "Funnel Display", sans-serif;
  letter-spacing: -.04em;text-align: center;
}
.heading p{margin-bottom: 0px;}

/* Line structure */
.line{
  display: block;
}

.line-2{
  /* display: flex; */
  align-items: baseline;
  gap: 15px;
}

/* Animation base */
.word{
  display: inline-block;
}

/* Yellow text */
.yellow_text{
  font-family: "Covered By Your Grace", sans-serif;
  font-size: 2em;
  font-weight: 400;
  color: #ffd900;
  transform: skew(-8deg, -4deg);
  line-height: 0.9;margin-top: -20px;text-transform: capitalize;
}

/* Light weight */
.fw-400{
  font-weight: 400;
}
.chart_list ul{list-style: none;padding-left: 0px;display: flex;flex-direction: column;gap: 7px;}
.chart_list ul.mt{margin-top: 30px;}
.chart_list .center_logo{margin-top: 60px;} 

/* LEFT SIDE */
.services{
  width:50%;
}

.service{
  min-height:100vh;
  display:flex;
  align-items:center;
  padding:60px;
}

.left h2{
  font-size:60px;
  margin-bottom:40px;
}

.left ul{
  list-style:none;
}

.left li{
  font-size:20px;
  margin-bottom:18px;
  opacity:0;
  transform:translateX(-60px);
}

/* RIGHT SIDE IMAGE */
.image-container{
  width:50%;
  height:100vh;
  position:sticky;
  top:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#fff;
}

.image-container img{
  width:70%;
  transition:opacity 0.3s ease;
}
.main-wrapper{
  display:flex;
}

.services{
  width:50%;
}

.image-container{
  width:50%;
  /* height:100vh; */
  position:sticky;
  top:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#fff;
}
.service {
  min-height: 100vh;
  display: flex;
  align-items: center;  /* center in viewport */
  padding: 60px;
}

.left li {
  opacity: 0;
  transform: translateX(-60px);
}
.service {
  padding: 80px 60px;
  border-bottom: 1px solid #eee;
}

.left h2 {
  font-size: 60px;
  margin-bottom: 0px;display: flex;
    align-items: center;
    gap: 10px;
    font-size: 40px;
    padding: 6px 0;
    padding-left: 20px;
    font-family: 'Funnel Display';
    font-weight: 800;
    color: #000;
}

.left ul {
  list-style: none;
  margin-top: 20px;
}

.left li {
  opacity: 0;
  transform: translateX(-60px);
  margin-bottom: 15px;
}
.service_list ul{list-style: none;padding-left: 0;}
.service_list ul li{display: flex;align-items: center;gap: 10px;font-size: 40px;padding: 6px 0;padding-left: 80px;font-family: 'Funnel Display';font-weight: 800;color: #000;}
.color_square, .list_before{height: 80px;width: 80px;border: 1px dashed #9D9D9D;padding: 10px;display: block;position: relative;border-radius: 7px;}
.color_square::after, .list_before::before{content: "";position: absolute;top: 0;bottom: 0;left: 0;right: 0;height: 55px;width: 55px;display: flex;align-items: center;justify-content: center;margin: auto;border-radius: 7px;}
.list_before{position: relative;}
.color_square.color_square1::after, .list_before::before{background: #106093;}
.color_square.color_square2::after{background: #ff006e;}
.color_square.color_square3::after{background: #8338ec;}
/* .service_list{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  position:relative;
}

.main-wrapper{
  display:flex;
  align-items:flex-start;
} */
 /* ===== SERVICE LIST (FIRST SECTION) ===== */
.service_list{
  height:100vh;
  display:flex;
  align-items:center;
  /* justify-content:center; */
  position:relative;
  background:#fff;
  z-index:2;padding-left: 10px !important;
}

/* ===== MAIN WRAPPER ===== */
.main-wrapper{
  display:flex;
  align-items:flex-start;
  position:relative;
  z-index:1;
}

/* LEFT SERVICES */
.services{
  width:50%;
}

.service{
  min-height:100vh;
  display:flex;
  align-items:center;
  padding:80px 60px;
  border-bottom:1px solid #eee;
}

/* RIGHT IMAGE */
.image-container{
  width:50%;
  height:100vh;
  position:sticky;
  top:0;
  display:flex;
  align-items:center;
  justify-content:center;
  background:#f4f4f4;
}

.image-container img{
  width:70%;
  max-width:500px;
  height:auto;
  display:block;
  opacity:1;
}
.list_flex{display: flex;width: max-content;}
.service_list{
  overflow: hidden;
}
.brand_logo{position: relative;z-index: 1;}
.brand_logo::before{content: "";position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: url("images/bg-gif1.gif");background-size: cover;background-repeat: no-repeat;padding: 80px 0;z-index:-1;}
.integrate{background: #F6F6F6;}
.integrate h1{font-size: 50px; font-weight: 700;text-transform: uppercase;font-family: 'Poppins', sans-serif;color: #000;margin-bottom: 0px;}
.integrate p{font-size: 43px;line-height: 50px;font-weight: 400;font-family: 'Poppins', sans-serif;text-transform: uppercase;}
.brand_logo .social_service .social_service_text{box-shadow: 0px 4px 4px 0px #00000040;width: fit-content;padding: 30px;background: #fff;border-radius: 10px;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.brand_logo .social_service{}
.brand_logo .social_service.social_service_left .social_service_text:nth-child(1){}
.brand_logo .social_service.social_service_left .social_service_text:nth-child(2){}
.brand_logo .social_service.social_service_left .social_service_text:nth-child(3){}
.brand_logo .social_service.social_service_right .social_service_text:nth-child(1){}
.brand_logo .social_service.social_service_right .social_service_text:nth-child(2){}
.brand_logo .social_service.social_service_right .social_service_text:nth-child(3){}




@media (max-width: 479px){
  .hero-subheading-wrap {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
  }
}


